.sidebar {
    position: absolute;
    top: 52px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #f7f7f9;
}

.content {
    position: absolute;
    top: 80px;
    left: 200px;
    right: 0;
    bottom: 0;
}

/* bad css
.sidebar {
    background-color: #F7F7F9;
}

.content {
    position: absolute;
    top: 80px;
    left: 20px;
    right: 0px;
  bottom: 0;
}

.content {top: 80px;}
.content { top: 80px;
}
*/

.highlight {
    background-color: orange;
}
